@font-face {
    font-family: "Inter";
    src: url("Inter-VariableFont.ttf");
}

* {box-sizing: border-box;}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, form, label, article, aside, figure, figcaption, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, figcaption, figure, footer, header, nav, section {
	display: block;
}

h1, p, label, a {
    font-family: "Inter", sans-serif;
    color: #EAE4F2;
}
h1 {
    font-size: 1.75rem;
    font-weight: 800;
}
p, label, a {
    font-size: 0.875rem;
    font-weight: 400;
}
p {
    color: #503F66;
}
a {
    font-weight: 600;
    text-decoration: none;
    display: block;
    padding: 14px 32px 16px;
    border-radius: 6px;
    text-align: center;
    background-color: #503F66;
}

body {
    width: 400px;
    height: auto;
    background-color: #17121D;
}
header {
    padding: 24px 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: solid 1px #503F66;
}
header>p{
    align-self: center;
    color: #EAE4F2;
}
header #languageswitch {
    background-color: #503F66;
    padding: 2px;
    position: relative;
    border-radius: 4px;
    display: flex;/*
    display: none;  TEMP --------------------------------------------------------------------------------------------------------------------- */
}
header #languageswitch input {
    display: none;
}
header #languageswitch label {
    color: #17121D;
    transition: 0.2s;
    padding: 4px 8px;
    display: block;
    z-index: 1;
}
header #languageswitch div {
    height: calc(100% - 4px);
    width: calc(50% - 2px);
    background-color: #17121D;
    transition: 0.2s;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 3px;
}
header #languageswitch #en:checked ~ label:first-of-type {
    color: #503F66;
}
header #languageswitch #de:checked ~ label {
    color: #503F66;
}
header #languageswitch #de:checked ~ div {
    left: 50%;
}
main {
    padding: 64px 32px 0;
    height: 288px;
}
main>div>h1 {
    margin-top: 16px;
}
main>div>a, main>div>#ectsDetails {
    margin-top: 32px;
}
main #loader {
    position: absolute;
    left: calc(50% - 25px);
    top: 40%;
    z-index: -1;
}
main #notOnPage, main #onPage {
    background-color: #17121D;
    display: none;
}
main #ectsDetails {
    border-top: solid 1px #503F66;
}
main #ectsDetails p {
    margin-top: 8px;
    font-weight: 600;
    color: #EAE4F2;
}
main #ectsDetails span {
    display: inline-block;
    min-width: 48px;
}
footer {
    padding: 48px 32px;
}
footer p:not(:last-of-type) {
    margin-bottom: 16px;
}