@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  width: 800px;
  height: 600px;
  margin: 0;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  background-color: #f3f9fc;
  font-family: "Roboto", sans-serif;
  margin: 0.75rem;
}

h1 {
  color: #2d859c;
  text-align: left;
  font-size: 3rem;
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
  overflow: auto;
  margin-top: 16px;
}

li {
  padding: 8px;
  border-bottom: 1px solid #2d859c;
}

#dataList {
  width: 30%;
  height: 90vh;
  margin-top: 1rem;
  color: #101011;
  text-align: left;
  font-size: 16px;
  background-color: #2d859c;
  padding: 0.2rem;
  border-radius: 4px;
  font-weight: 700;
}
