@font-face {
  font-family: "FSAlbert-Bold";
  src: url("fs-albert-font-family/FSAlbert-Bold.otf") format("truetype");
}

@font-face {
  font-family: "FSAlbert-ExtraBold";
  src: url("fs-albert-font-family/FSAlbert-ExtraBold.otf") format("truetype");
}

@font-face {
  font-family: "FSAlbert-Light";
  src: url("fs-albert-font-family/FSAlbert-Light.otf") format("truetype");
}

@font-face {
  font-family: "FSAlbert-Regular";
  src: url("fs-albert-font-family/FSAlbert-Regular.otf") format("truetype");
}

@font-face {
  font-family: "FSAlbert-Thin";
  src: url("fs-albert-font-family/FSAlbert-Thin.otf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Blau-50: #f3f9fc;
  --Blau-200-HSLU-Main: #bae0ea;
  --Blau-400: #62bcce;
  --Blau-600: #2d859c;
  --Blau-800: #225b6a;
  --Blau-950: #16313b;
}

body {
  font-family: "FSAlbert-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  width: 800px;
  height: 488px;
  display: flex;
}

.sidebar {
  width: 240px;
  background-color: var(--Blau-50);
  padding: 16px;
  color: var(--Blau-600);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#dashboard-logo {
  padding: 8px;
  margin-bottom: 24px;
  width: 170px;
}

#hslu-logo {
  padding: 8px;
  width: 170px;
}

#quick-links {
  padding: 0px 8px;
}

#quick-links-title {
  font-family: "FSAlbert-Bold", sans-serif;
  padding-bottom: 4px;
  border-bottom: 0.5px solid var(--Blau-600);
  margin-bottom: 4px;
}

.link-element {
  display: flex;
  padding: 8px 0px 8px 8px;
  transition: all 0.2s;
}

.link-element:hover {
  background-color: var(--Blau-200-HSLU-Main);
}

.quick-link-icon {
  margin-right: 8px;
  width: 16px;
  height: auto;
}

.ects-overview {
  width: calc(100% - 240px);
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

#total-points-container {
  width: 256px;
  padding: 16px;
  background-color: var(--Blau-200-HSLU-Main);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#semester-uebersicht-container {
  width: 528px;
  padding: 16px;
  background-color: var(--Blau-50);
}

.container-title {
  font-family: "FSAlbert-Bold", sans-serif;
  color: var(--Blau-800);
}

.ectsNum {
  font-family: "FSAlbert-ExtraBold", sans-serif;
  font-size: 80px;
  color: var(--Blau-800);
  margin-right: 16px;
}

.ectsDesc {
  color: var(--Blau-800);
}

#moduleinschreibungen-container {
  width: 256px;
  padding: 16px;
  background-color: var(--Blau-50);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-module {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}

.termin-1,
.termin-2,
.termin-3 {
  display: flex;
  width: 224px;
  padding: 4px 16px;
  align-items: flex-end;
  border-left: 4px solid var(--Blau-600);
  background-color: white;
}
